.header{
    grid-area: h;
    background-color: #FFF;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    width: 50px;
}

.login{
    font-weight: 700;
}

.userInfo{
    width: 110px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.userPhoto{
    width: 50px;
    border-radius: 50%;
}