.dialogs{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: #F0F5F9;
    border-radius: 25px;
}

.dialogs_items{
    padding: 15px;
}


.messages{
    padding: 15px;
}

